.clearfix:after {content:"\200B"; display:block; height:0; clear:both; }

body {
	font: 12px/1.8 arial,tahoma,"微软雅黑";
	color: #000;
	margin: 0;
	padding: 0;
}

form,fieldset,dl,dt,dd,ul,ol,li,pre,p,blockquote,form,input,th,td {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0; 
	padding: 0;
}

ul, ol {
	list-style: none;
}

em, i, cite {
	font-style: normal;
}

a {
	color: #333;
	text-decoration: none;
}

input {
	font: 12px/1.8 arial,tahoma,"微软雅黑";
	outline: none;
}

.btn { 
	background-color: #f5f5f5;
	display: inline-block; 
	color: #777; 
	padding: 0 20px;
	text-decoration: none; 
	font-size: 12px; 
	letter-spacing: 1px; 
	border: 1px solid #999; 
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 24px;
}

.notifyer {
	font: 14px/1.8 arial,tahoma,"微软雅黑";
	color: #777;
	margin: 0;
	padding: 0;
	width: 100%;
}

.notifyer table {
	width: 100%;
}

.notifyer th {
	width: 64px;
	min-height: 64px;
	background: url("chrome-extension://__MSG_@@extension_id__/images/hd128.png") 50% 8px no-repeat;
	background-size: 70%;
}

.notifyer em { font-size: 18px; color: orange; margin: 0 5px; }

.notifyer .btn { float: right; margin: 5px 10px 10px 0; }
.notifyer .btn:hover { color: #fff; background: #007935; border: 1px solid #060; cursor: pointer; }

