<?xml version="1.0" encoding="UTF-8"?>
<data><matched><![CDATA[^(http://.*\.qiaobutang\.com/.*|http://.*\.dajie\.com/.*|http://.*\.yingjiesheng\.com/.*|http://.*\.guolairen\.com/.*|http://.*\.hiall\.com\.cn/.*|http://.*\.yjbys\.com/.*|http://.*\.ncss\.org\.cn/.*|http://.*\.teatree\.cn/.*|http://.*\.51job\.com/.*|http://.*\.zhaopin\.com/.*|http://.*\.chinahr\.com/.*|http://.*\.haitou\.com/.*)$]]></matched></data>