<?xml version="1.0" encoding="UTF-8"?>
<data><sitelist><![CDATA[[{"url":"http://www.yingjiesheng.com/","title":"应届生"},{"url":"http://www.qiaobutang.com","title":"乔布堂"},{"url":"http://www.dajie.com","title":"大街网"},{"url":"http://www.guolairen.com","title":"过来人求职网"},{"url":"http://www.hiall.com.cn","title":"hiall"},{"url":"http://www.yjbys.com","title":"应届毕业生"},{"url":"http://www.ncss.org.cn","title":"新职业"},{"url":"http://www.teatree.cn","title":"茶树网"},{"url":"http://www.51job.com","title":"前程无忧"},{"url":"http://www.zhaopin.com","title":"智联招聘"},{"url":"http://www.chinahr.com","title":"中华英才"},{"url":"http://www.haitou.cc","title":"海投网"}]]]></sitelist><matched><![CDATA[^(http://.*\.qiaobutang\.com/.*|http://.*\.dajie\.com/.*|http://.*\.yingjiesheng\.com/.*|http://.*\.guolairen\.com/.*|http://.*\.hiall\.com\.cn/.*|http://.*\.yjbys\.com/.*|http://.*\.ncss\.org\.cn/.*|http://.*\.teatree\.cn/.*|http://.*\.51job\.com/.*|http://.*\.zhaopin\.com/.*|http://.*\.chinahr\.com/.*|http://.*\.haitou\.com/.*)$]]></matched></data>