<!doctype html> 
<html>
<meta charset="utf8"/>
<head>
<link href="../style/notify.css" rel="stylesheet" type="text/css"  />
</head>
</body>
<div class="notifyer">
	<table>
		<tbody>
			<tr>
				<th class="logo"></th>
				<td>
					<div class="lastNewPos clearfix">
						猎上网<span class="positiondate">每日</span>共有<em></em>个新职位发布，敬请关注。
					</div>
					<a href="http://www.hunteron.com/listPosition/" target="_blank" class="btn right">确认查看</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- jQuery -->
<script src="../js/jquery-2.0.3.js" type="text/javascript" charset="utf-8" ></script>
<script src="../js/common.js" type="text/javascript" charset="utf-8" ></script>
<script src="../js/notify.js" type="text/javascript" charset="utf-8" ></script>
<body>
</html>