<div class="editBox">
	<h2><i class="out icon-arrow-up-left3"></i>简历宝解析</h2>
	<form id="hdppCvForm" method="post">
		<dl>
			<dd>
				<label>
					<em>行业：</em>
					<input type="text" name="tl.industry.industryName"  
						data-rule-maxLength="50" 
						data-msg-maxLength="长度不能超过{0}个字符" />
					<input type="hidden" name="tl.industry.industryId"   />
				</label>
			</dd>
			<dd>
				<label title="">
					<em>职能：</em>
					<input type="text" name="tl.industry.functionName"  
						data-rule-maxLength="50" 
						data-msg-maxLength="长度不能超过{0}个字符" />
					<input type="hidden" name="tl.industry.functionId"  />
				</label>
			</dd>
			<dd>
				<label title="">
					<em style="vertical-align: top;">标签：</em>
					<textarea id="textarea" rows="1" name="tl.tags" class="nosign tags" style="width: 145px; min-height:30px;"></textarea>
				</label>
				
				<div class="recommendedBox">
					<div class="recommended mt5px"></div>
				</div>
			</dd>
			<dd>
				<label title="">
					<em>姓名：</em>
					<input type="text" name="tl.name" class="name" value=""
						data-rule-required="true" 
						data-msg-required="候选人名字不能为空 "
						data-tipmy = "right" />
				</label>
			</dd>
			<dd>
				<label title="">
					<em>电话：</em>
					<input type="text" name="tl.phone"   
						data-rule-required="false" 
						data-rule-maxLength="50" 
						data-msg-maxLength="长度不能超过{0}个字符"
						data-rule-phone = "true" 
						data-msg-phone="电话号码格式错误" />
				</label>
			</dd>
			<dd>
				<label title="">
					<em>邮箱：</em>
					<input type="text" name="tl.email"   
						data-rule-email="true" 
						data-msg-email="Email格式错误，请重新输入"
						data-rule-maxLength="50" 
						data-msg-maxLength="长度不能超过{0}个字符" />
				</label>
			</dd>
			<dd>
				<label>
					<em>公司：</em>
					<input type="text" name="tl.company.name"   
						data-rule-maxLength="150" 
						data-msg-maxLength="长度不能超过{0}个字符"  />
				</label>
			</dd>
			<dd>
				<label title="">
					<em>职位：</em>
					<input type="text" name="tl.jobTitle"   
						data-rule-maxLength="50" 
						data-msg-maxLength="长度不能超过{0}个字符" />
				</label>
			</dd>
			<dd>
				<label title="">
					<em>学历：</em>
					<input type="text" name="tl.degree"   
						data-rule-maxLength="50" 
						data-msg-maxLength="长度不能超过{0}个字符" />
					<input type="hidden" name="tl.degreeId" />
				</label>
			</dd>
		</dl>
			
		<div class="tb">
			<div style="display:none;">
				<label title="">
					<em>称谓：</em>
					<select name="tl.gender">
						<option value="">--请选择--</option>
						<option value="0">女士</option>
						<option value="1">先生</option>
						<option value="2">不详</option>
					</select>
				</label>
				<label title="">
					<em>年薪：</em>
					<span class="ml5px">约</span>
					<input type="text" name="tl.anualSalary" />
					<span>万</span>
					<span class="mark">（年总收入）</span>
				</label>
				<label title="">
					<em>职级：</em>
					<input type="text" name="tl.rank" />
				</label>
				<label title="">
					<em>城市：</em>
					<input type="text"  name="tl.location" />
				</label>
			</div>
		
			<input type="hidden" name="tl.cv.sourceWebName" class="nosign"  />
			<input type="hidden" name="tl.cv.sourceUrl" class="nosign"  />
			<input type="hidden" name="tl.cv.txtContent" class="nosign"  />
			<input type="hidden" name="tl.cv.htmContent" class="nosign"  />
			<input type="hidden" name="tl.cv.id" class="nosign" />
			
			<input type="hidden" name="tl.id" class="nosign"  />
			
			<input type="submit" class="btn" value="保存至我的简历宝" />
			<input type="button" class="btn load" value="保存中." />
			<div class="gohd" style="margin-top:5px; display:none;">
				<a href="{base}/talent.html#talent-{id}" target="_blank">到简历宝查看简历</a>
			</div>
			<div class="rewrite" style="display:none;">
				表单已修改，请重新保存简历
			</div>
		</div>
	</form>
</div>