@font-face {
	font-family: 'icomoon';
	src:url('chrome-extension://__MSG_@@extension_id__/style/fonts/fonts/icomoon.eot');
	src:url('chrome-extension://__MSG_@@extension_id__/style/fonts/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('chrome-extension://__MSG_@@extension_id__/style/fonts/fonts/icomoon.woff') format('woff'),
		url('chrome-extension://__MSG_@@extension_id__/style/fonts/fonts/icomoon.ttf') format('truetype'),
		url('chrome-extension://__MSG_@@extension_id__/style/fonts/fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e000";
}
.icon-home2:before {
	content: "\e001";
}
.icon-pencil:before {
	content: "\e005";
}
.icon-pencil2:before {
	content: "\e006";
}
.icon-books:before {
	content: "\e020";
}
.icon-file:before {
	content: "\e022";
}
.icon-profile:before {
	content: "\e023";
}
.icon-file2:before {
	content: "\e024";
}
.icon-folder:before {
	content: "\e02e";
}
.icon-folder-open:before {
	content: "\e02f";
}
.icon-tag:before {
	content: "\e030";
}
.icon-tags:before {
	content: "\e031";
}
.icon-address-book:before {
	content: "\e03e";
}
.icon-notebook:before {
	content: "\e03f";
}
.icon-envelop:before {
	content: "\e040";
}
.icon-map:before {
	content: "\e045";
}
.icon-print:before {
	content: "\e050";
}
.icon-keyboard:before {
	content: "\e051";
}
.icon-screen:before {
	content: "\e052";
}
.icon-laptop:before {
	content: "\e053";
}
.icon-box-remove:before {
	content: "\e05d";
}
.icon-download:before {
	content: "\e05e";
}
.icon-upload:before {
	content: "\e05f";
}
.icon-disk:before {
	content: "\e060";
}
.icon-bubble:before {
	content: "\e06a";
}
.icon-bubbles:before {
	content: "\e06b";
}
.icon-bubbles2:before {
	content: "\e06c";
}
.icon-bubble2:before {
	content: "\e06d";
}
.icon-busy:before {
	content: "\e077";
}
.icon-spinner:before {
	content: "\e078";
}
.icon-spinner2:before {
	content: "\e079";
}
.icon-spinner3:before {
	content: "\e07a";
}
.icon-expand:before {
	content: "\e084";
}
.icon-contract:before {
	content: "\e085";
}
.icon-key:before {
	content: "\e086";
}
.icon-key2:before {
	content: "\e087";
}
.icon-hammer:before {
	content: "\e091";
}
.icon-wand:before {
	content: "\e092";
}
.icon-aid:before {
	content: "\e093";
}
.icon-bug:before {
	content: "\e094";
}
.icon-leaf:before {
	content: "\e09e";
}
.icon-rocket:before {
	content: "\e09f";
}
.icon-meter:before {
	content: "\e0a0";
}
.icon-meter2:before {
	content: "\e0a1";
}
.icon-shield:before {
	content: "\e0af";
}
.icon-lightning:before {
	content: "\e0b0";
}
.icon-switch:before {
	content: "\e0b1";
}
.icon-power-cord:before {
	content: "\e0b2";
}
.icon-cloud-upload:before {
	content: "\e0bc";
}
.icon-download2:before {
	content: "\e0bd";
}
.icon-upload2:before {
	content: "\e0be";
}
.icon-download3:before {
	content: "\e0bf";
}
.icon-bookmark:before {
	content: "\e0c9";
}
.icon-bookmarks:before {
	content: "\e0ca";
}
.icon-brightness-medium:before {
	content: "\e0cb";
}
.icon-brightness-contrast:before {
	content: "\e0cc";
}
.icon-close:before {
	content: "\e0fd";
}
.icon-checkmark:before {
	content: "\e0fe";
}
.icon-checkmark2:before {
	content: "\e0ff";
}
.icon-spell-check:before {
	content: "\e100";
}
.icon-crop:before {
	content: "\e13d";
}
.icon-scissors:before {
	content: "\e13e";
}
.icon-filter:before {
	content: "\e13f";
}
.icon-filter2:before {
	content: "\e140";
}
.icon-file-pdf:before {
	content: "\e1b2";
}
.icon-file-openoffice:before {
	content: "\e1b3";
}
.icon-file-word:before {
	content: "\e1b4";
}
.icon-file-excel:before {
	content: "\e1b5";
}
.icon-mic:before {
	content: "\e1c8";
}
.icon-envelope:before {
	content: "\e1c9";
}
.icon-briefcase:before {
	content: "\e1ca";
}
.icon-cart:before {
	content: "\e1cb";
}
.icon-star:before {
	content: "\e1d5";
}
.icon-key3:before {
	content: "\e1d6";
}
.icon-chart:before {
	content: "\e1d7";
}
.icon-apple:before {
	content: "\e1d8";
}
.icon-feed:before {
	content: "\e1e2";
}
.icon-blocked:before {
	content: "\e1e3";
}
.icon-target:before {
	content: "\e1e4";
}
.icon-play:before {
	content: "\e1e5";
}
.icon-eye:before {
	content: "\e1ef";
}
.icon-heart:before {
	content: "\e1f0";
}
.icon-bookmark2:before {
	content: "\e1f1";
}
.icon-wrench:before {
	content: "\e1f2";
}
.icon-alarm:before {
	content: "\e208";
}
.icon-cone:before {
	content: "\e207";
}
.icon-gift:before {
	content: "\e206";
}
.icon-database:before {
	content: "\e228";
}
.icon-arrow-down-right:before {
	content: "\e123";
}
.icon-arrow-down:before {
	content: "\e124";
}
.icon-arrow-down-left:before {
	content: "\e125";
}
.icon-arrow-left:before {
	content: "\e126";
}
.icon-libreoffice:before {
	content: "\e1b1";
}
.icon-IE:before {
	content: "\e1bf";
}
.icon-opera:before {
	content: "\e1c0";
}
.icon-credit-card:before {
	content: "\e229";
}
.icon-chevron-sign-left:before {
	content: "\f137";
}
.icon-chevron-sign-right:before {
	content: "\f138";
}
.icon-chevron-sign-up:before {
	content: "\f139";
}
.icon-chevron-sign-down:before {
	content: "\f13a";
}
.icon-cloud-upload2:before {
	content: "\f0ee";
}
.icon-remove-circle:before {
	content: "\f05c";
}
.icon-ok-circle:before {
	content: "\f05d";
}
.icon-plus-sign:before {
	content: "\f055";
}
.icon-double-angle-down:before {
	content: "\f103";
}
.icon-angle-right:before {
	content: "\f105";
}
.icon-angle-up:before {
	content: "\f106";
}
.icon-angle-down:before {
	content: "\f107";
}
.icon-gbp:before {
	content: "\f154";
}
.icon-dollar:before {
	content: "\f155";
}
.icon-file-text:before {
	content: "\f15c";
}
.icon-file3:before {
	content: "\f15b";
}
.icon-checkmark3:before {
	content: "\e01a";
}
.icon-cycle:before {
	content: "\e01c";
}
.icon-upload3:before {
	content: "\e01d";
}
.icon-download4:before {
	content: "\e01e";
}
.icon-chat:before {
	content: "\e00a";
}
.icon-login:before {
	content: "\e019";
}
.icon-image:before {
	content: "\e00d";
}
.icon-image2:before {
	content: "\e00c";
}
.icon-images:before {
	content: "\e00e";
}
.icon-camera:before {
	content: "\e00f";
}
.icon-music:before {
	content: "\e010";
}
.icon-dice:before {
	content: "\e015";
}
.icon-pacman:before {
	content: "\e016";
}
.icon-bullhorn:before {
	content: "\e01b";
}
.icon-library:before {
	content: "\e021";
}
.icon-file4:before {
	content: "\e025";
}
.icon-file5:before {
	content: "\e026";
}
.icon-copy:before {
	content: "\e027";
}
.icon-copy2:before {
	content: "\e028";
}
.icon-copy3:before {
	content: "\e029";
}
.icon-paste:before {
	content: "\e02a";
}
.icon-paste2:before {
	content: "\e02b";
}
.icon-paste3:before {
	content: "\e02c";
}
.icon-barcode:before {
	content: "\e032";
}
.icon-qrcode:before {
	content: "\e033";
}
.icon-ticket:before {
	content: "\e034";
}
.icon-coin:before {
	content: "\e038";
}
.icon-credit:before {
	content: "\e039";
}
.icon-calculate:before {
	content: "\e03a";
}
.icon-support:before {
	content: "\e03b";
}
.icon-phone:before {
	content: "\e03c";
}
.icon-phone-hang-up:before {
	content: "\e03d";
}
.icon-map2:before {
	content: "\e046";
}
.icon-alarm2:before {
	content: "\e04a";
}
.icon-alarm3:before {
	content: "\e04b";
}
.icon-history:before {
	content: "\e047";
}
.icon-clock:before {
	content: "\e048";
}
.icon-clock2:before {
	content: "\e049";
}
.icon-bell:before {
	content: "\e04c";
}
.icon-calendar:before {
	content: "\e04e";
}
.icon-calendar2:before {
	content: "\e04f";
}
.icon-mobile:before {
	content: "\e054";
}
.icon-mobile2:before {
	content: "\e055";
}
.icon-tablet:before {
	content: "\e056";
}
.icon-tv:before {
	content: "\e057";
}
.icon-cabinet:before {
	content: "\e058";
}
.icon-drawer:before {
	content: "\e059";
}
.icon-drawer2:before {
	content: "\e05a";
}
.icon-drawer3:before {
	content: "\e05b";
}
.icon-box-add:before {
	content: "\e05c";
}
.icon-storage:before {
	content: "\e061";
}
.icon-undo:before {
	content: "\e062";
}
.icon-redo:before {
	content: "\e063";
}
.icon-flip:before {
	content: "\e064";
}
.icon-flip2:before {
	content: "\e065";
}
.icon-undo2:before {
	content: "\e066";
}
.icon-redo2:before {
	content: "\e067";
}
.icon-forward:before {
	content: "\e068";
}
.icon-reply:before {
	content: "\e069";
}
.icon-bubbles3:before {
	content: "\e06e";
}
.icon-bubbles4:before {
	content: "\e06f";
}
.icon-user:before {
	content: "\e070";
}
.icon-users:before {
	content: "\e071";
}
.icon-user2:before {
	content: "\e072";
}
.icon-users2:before {
	content: "\e073";
}
.icon-user3:before {
	content: "\e074";
}
.icon-user4:before {
	content: "\e075";
}
.icon-quotes-left:before {
	content: "\e076";
}
.icon-spinner4:before {
	content: "\e07b";
}
.icon-spinner5:before {
	content: "\e07c";
}
.icon-spinner6:before {
	content: "\e07d";
}
.icon-binoculars:before {
	content: "\e07e";
}
.icon-search:before {
	content: "\e07f";
}
.icon-zoom-in:before {
	content: "\e080";
}
.icon-zoom-out:before {
	content: "\e081";
}
.icon-expand2:before {
	content: "\e082";
}
.icon-contract2:before {
	content: "\e083";
}
.icon-lock:before {
	content: "\e088";
}
.icon-lock2:before {
	content: "\e089";
}
.icon-unlocked:before {
	content: "\e08a";
}
.icon-wrench2:before {
	content: "\e08b";
}
.icon-settings:before {
	content: "\e08c";
}
.icon-equalizer:before {
	content: "\e08d";
}
.icon-cog:before {
	content: "\e08e";
}
.icon-cogs:before {
	content: "\e08f";
}
.icon-cog2:before {
	content: "\e090";
}
.icon-pie:before {
	content: "\e095";
}
.icon-stats:before {
	content: "\e096";
}
.icon-bars:before {
	content: "\e097";
}
.icon-bars2:before {
	content: "\e098";
}
.icon-gift2:before {
	content: "\e099";
}
.icon-trophy:before {
	content: "\e09a";
}
.icon-glass:before {
	content: "\e09b";
}
.icon-mug:before {
	content: "\e09c";
}
.icon-food:before {
	content: "\e09d";
}
.icon-dashboard:before {
	content: "\e0a2";
}
.icon-hammer2:before {
	content: "\e0a3";
}
.icon-fire:before {
	content: "\e0a4";
}
.icon-lab:before {
	content: "\e0a5";
}
.icon-magnet:before {
	content: "\e0a6";
}
.icon-remove:before {
	content: "\e0a7";
}
.icon-remove2:before {
	content: "\e0a8";
}
.icon-briefcase2:before {
	content: "\e0a9";
}
.icon-target2:before {
	content: "\e0ae";
}
.icon-signup:before {
	content: "\e0b3";
}
.icon-list:before {
	content: "\e0b4";
}
.icon-list2:before {
	content: "\e0b5";
}
.icon-numbered-list:before {
	content: "\e0b6";
}
.icon-menu:before {
	content: "\e0b7";
}
.icon-menu2:before {
	content: "\e0b8";
}
.icon-tree:before {
	content: "\e0b9";
}
.icon-cloud:before {
	content: "\e0ba";
}
.icon-cloud-download:before {
	content: "\e0bb";
}
.icon-upload4:before {
	content: "\e0c0";
}
.icon-globe:before {
	content: "\e0c1";
}
.icon-earth:before {
	content: "\e0c2";
}
.icon-link:before {
	content: "\e0c3";
}
.icon-flag:before {
	content: "\e0c4";
}
.icon-attachment:before {
	content: "\e0c5";
}
.icon-eye2:before {
	content: "\e0c6";
}
.icon-eye-blocked:before {
	content: "\e0c7";
}
.icon-eye3:before {
	content: "\e0c8";
}
.icon-contrast:before {
	content: "\e0cd";
}
.icon-star2:before {
	content: "\e0ce";
}
.icon-star3:before {
	content: "\e0cf";
}
.icon-star4:before {
	content: "\e0d0";
}
.icon-heart2:before {
	content: "\e0d1";
}
.icon-heart3:before {
	content: "\e0d2";
}
.icon-heart-broken:before {
	content: "\e0d3";
}
.icon-thumbs-up:before {
	content: "\e0d4";
}
.icon-thumbs-up2:before {
	content: "\e0d5";
}
.icon-minus:before {
	content: "\e101";
}
.icon-plus:before {
	content: "\e102";
}
.icon-enter:before {
	content: "\e103";
}
.icon-exit:before {
	content: "\e104";
}
.icon-checkbox-checked:before {
	content: "\e138";
}
.icon-checkbox-unchecked:before {
	content: "\e139";
}
.icon-checkbox-partial:before {
	content: "\e13a";
}
.icon-radio-checked:before {
	content: "\e13b";
}
.icon-radio-unchecked:before {
	content: "\e13c";
}
.icon-table:before {
	content: "\e14a";
}
.icon-table2:before {
	content: "\e14b";
}
.icon-insert-template:before {
	content: "\e14c";
}
.icon-console:before {
	content: "\e15d";
}
.icon-paragraph-right:before {
	content: "\e156";
}
.icon-paragraph-justify:before {
	content: "\e157";
}
.icon-feed2:before {
	content: "\e170";
}
.icon-feed3:before {
	content: "\e171";
}
.icon-delicious:before {
	content: "\e1a2";
}
.icon-file-zip:before {
	content: "\e1b6";
}
.icon-chrome:before {
	content: "\e1bd";
}
.icon-firefox:before {
	content: "\e1be";
}
.icon-accessibility:before {
	content: "\e0ad";
}
.icon-warning:before {
	content: "\e1c3";
}
.icon-cloud2:before {
	content: "\e1c4";
}
.icon-locked:before {
	content: "\e1c5";
}
.icon-inbox:before {
	content: "\e1c6";
}
.icon-comment:before {
	content: "\e1c7";
}
.icon-contrast2:before {
	content: "\e1cc";
}
.icon-clock3:before {
	content: "\e1cd";
}
.icon-user5:before {
	content: "\e1ce";
}
.icon-cog3:before {
	content: "\e1cf";
}
.icon-music2:before {
	content: "\e1d0";
}
.icon-twitter:before {
	content: "\e1d1";
}
.icon-pencil3:before {
	content: "\e1d2";
}
.icon-frame:before {
	content: "\e1d3";
}
.icon-switch2:before {
	content: "\e1d4";
}
.icon-file6:before {
	content: "\e1d9";
}
.icon-plus2:before {
	content: "\e1da";
}
.icon-minus2:before {
	content: "\e1db";
}
.icon-picture:before {
	content: "\e1dc";
}
.icon-folder2:before {
	content: "\e1dd";
}
.icon-camera2:before {
	content: "\e1de";
}
.icon-search2:before {
	content: "\e1df";
}
.icon-dribbble:before {
	content: "\e1e0";
}
.icon-forrst:before {
	content: "\e1e1";
}
.icon-pause:before {
	content: "\e1e6";
}
.icon-bug2:before {
	content: "\e1e7";
}
.icon-console2:before {
	content: "\e1e8";
}
.icon-film:before {
	content: "\e1e9";
}
.icon-type:before {
	content: "\e1ea";
}
.icon-home3:before {
	content: "\e1eb";
}
.icon-earth2:before {
	content: "\e1ec";
}
.icon-location:before {
	content: "\e1ed";
}
.icon-info:before {
	content: "\e1ee";
}
.icon-calendar3:before {
	content: "\e1f3";
}
.icon-window:before {
	content: "\e1f4";
}
.icon-monitor:before {
	content: "\e1f5";
}
.icon-mobile3:before {
	content: "\e1f6";
}
.icon-droplet:before {
	content: "\e1f7";
}
.icon-mouse:before {
	content: "\e1f8";
}
.icon-refresh:before {
	content: "\e1f9";
}
.icon-location2:before {
	content: "\e1fa";
}
.icon-tag2:before {
	content: "\e1fb";
}
.icon-bookmark3:before {
	content: "\e223";
}
.icon-pushpin:before {
	content: "\e041";
}
.icon-loop:before {
	content: "\e11c";
}
.icon-loop2:before {
	content: "\e11d";
}
.icon-shuffle:before {
	content: "\e11e";
}
.icon-arrow-up-left:before {
	content: "\e11f";
}
.icon-arrow-up:before {
	content: "\e120";
}
.icon-arrow-up-right:before {
	content: "\e121";
}
.icon-arrow-right:before {
	content: "\e122";
}
.icon-arrow-up-left2:before {
	content: "\e127";
}
.icon-arrow-up2:before {
	content: "\e128";
}
.icon-arrow-up-right2:before {
	content: "\e129";
}
.icon-arrow-right2:before {
	content: "\e12a";
}
.icon-arrow-down-right2:before {
	content: "\e12b";
}
.icon-arrow-down2:before {
	content: "\e12c";
}
.icon-arrow-down-left2:before {
	content: "\e12d";
}
.icon-arrow-left2:before {
	content: "\e12e";
}
.icon-arrow-up-left3:before {
	content: "\e12f";
}
.icon-atom:before {
	content: "\e22a";
}
.icon-winsows:before {
	content: "\e22b";
}
.icon-target3:before {
	content: "\e22c";
}
.icon-battery:before {
	content: "\e22d";
}
.icon-code:before {
	content: "\e22e";
}
.icon-fullscreen-exit:before {
	content: "\e002";
}
.icon-fullscreen-exit-alt:before {
	content: "\e003";
}
.icon-fullscreen:before {
	content: "\e004";
}
.icon-fullscreen-alt:before {
	content: "\e007";
}
.icon-caret-down:before {
	content: "\f0d7";
}
.icon-caret-up:before {
	content: "\f0d8";
}
.icon-caret-left:before {
	content: "\f0d9";
}
.icon-caret-right:before {
	content: "\f0da";
}
.icon-envelope-alt:before {
	content: "\f0e0";
}
.icon-renminbi:before {
	content: "\f158";
}
.icon-compose:before {
	content: "\e008";
}
.icon-envelope2:before {
	content: "\e009";
}
.icon-cloud-download2:before {
	content: "\f0ed";
}
.icon-minus-sign:before {
	content: "\f056";
}
.icon-remove-sign:before {
	content: "\f057";
}
.icon-ok-sign:before {
	content: "\f058";
}
.icon-question-sign:before {
	content: "\f059";
}
.icon-info-sign:before {
	content: "\f05a";
}
.icon-double-angle-left:before {
	content: "\f100";
}
.icon-double-angle-right:before {
	content: "\f101";
}
.icon-double-angle-up:before {
	content: "\f102";
}
.icon-angle-left:before {
	content: "\f104";
}
.icon-desktop:before {
	content: "\f108";
}
.icon-laptop2:before {
	content: "\f109";
}
.icon-tablet2:before {
	content: "\f10a";
}
.icon-ban-circle:before {
	content: "\f05e";
}
.icon-off:before {
	content: "\f011";
}
.icon-time:before {
	content: "\f017";
}
.icon-file7:before {
	content: "\f016";
}
.icon-yen:before {
	content: "\f157";
}
.icon-euro:before {
	content: "\f153";
}
.icon-eye4:before {
	content: "\e00b";
}
.icon-newspaper:before {
	content: "\e011";
}
.icon-minus3:before {
	content: "\e012";
}
.icon-plus3:before {
	content: "\e013";
}
.icon-erase:before {
	content: "\e014";
}
.icon-cross:before {
	content: "\e017";
}
.icon-logout:before {
	content: "\e018";
}
.icon-stack:before {
	content: "\e02d";
}
.icon-battery-charging:before {
	content: "\e600";
}
.icon-battery-full:before {
	content: "\e601";
}
.icon-battery-75:before {
	content: "\e602";
}
.icon-battery-50:before {
	content: "\e603";
}
.icon-battery-25:before {
	content: "\e604";
}
.icon-battery-empty:before {
	content: "\e605";
}
